.idea
.vs

TestLauncher/bin
TestLauncher/obj

KN_Loader/bin
KN_Loader/obj

KN_Core/bin
KN_Core/obj

KN_Cinematic/bin
KN_Cinematic/obj

KN_Visuals/bin
KN_Visuals/obj

KN_Lights/bin
KN_Lights/obj

KN_Maps/bin
KN_Maps/obj

KN_Updater/bin
KN_Updater/obj

Release/
Utils/__pycache__

kn_config.knl
kn_lights.knl
kn_nwlights.knl

kino.sln.DotSettings
kino.sln.DotSettings.user

changelog.txt
