.idea
.vs

TestLauncher/bin
TestLauncher/obj

KN_Core/bin
KN_Core/obj

KN_Cinematic/bin
KN_Cinematic/obj

KN_Livery/bin
KN_Livery/obj

KN_Visuals/bin
KN_Visuals/obj

KN_Lights/bin
KN_Lights/obj

kn_config.xml

kino.sln.DotSettings
